In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
import os
import pandas as pd

# Ruta base donde se encuentran los archivos
ruta_base = r"C:\Users\USUARIO\OneDrive - Secretaria de Educacion del Distrito\Escritorio\SOYhENRY\PI_21\PI_2_DA_corregido\data_internet_ind"

# Obtener la lista de archivos en la carpeta
archivos = [f for f in os.listdir(ruta_base) if f.endswith('.csv')]

# Diccionario para almacenar los DataFrames
dataframes = {}

# Cargar cada archivo de la lista
for archivo in archivos:
    ruta_completa = os.path.join(ruta_base, archivo)

    try:
        # Cargar el archivo CSV
        df = pd.read_csv(ruta_completa)

        # Normalizar los nombres de las columnas
        df.columns = (
            df.columns
            .str.strip()   # Eliminar espacios en los nombres de las columnas
            .str.lower()   # Convertir a minúsculas
            .str.replace(" ", "_")  # Reemplazar espacios por guiones bajos
            .str.replace(r"[^a-zA-Z0-9_]", "", regex=True)  # Eliminar caracteres especiales
        )

        # Guardar en el diccionario con un nombre limpio
        nombre_sin_extension = os.path.splitext(archivo)[0]
        dataframes[nombre_sin_extension] = df

        print(f"✅ Archivo '{archivo}' cargado y normalizado exitosamente.")

    except Exception as e:
        print(f"⚠️ Error al cargar '{archivo}': {e}")

# Mostrar las primeras filas de cada DataFrame cargado
for nombre, df in dataframes.items():
    print(f"\n📌 **{nombre}** - Primeras filas:")
    display(df.head())

# Ahora puedes acceder a los DataFrames con:
# dataframes["nombre_del_archivo_sin_extension"]

✅ Archivo 'Accesos por rangos.csv' cargado y normalizado exitosamente.
✅ Archivo 'Accesos Por Tecnología.csv' cargado y normalizado exitosamente.
✅ Archivo 'Accesos_tecnologia_localidad.csv' cargado y normalizado exitosamente.
✅ Archivo 'Acc_vel_loc_sinrangos.csv' cargado y normalizado exitosamente.
✅ Archivo 'Dial-BAf.csv' cargado y normalizado exitosamente.
✅ Archivo 'Ingresos .csv' cargado y normalizado exitosamente.
✅ Archivo 'mapa_conectividad.csv' cargado y normalizado exitosamente.
✅ Archivo 'Penetracion-hogares.csv' cargado y normalizado exitosamente.
✅ Archivo 'Penetracion-totales.csv' cargado y normalizado exitosamente.
✅ Archivo 'Penetración-poblacion.csv' cargado y normalizado exitosamente.
✅ Archivo 'Totales Accesos por rango.csv' cargado y normalizado exitosamente.
✅ Archivo 'Totales Accesos Por Tecnología.csv' cargado y normalizado exitosamente.
✅ Archivo 'Totales Dial-BAf.csv' cargado y normalizado exitosamente.
✅ Archivo 'Totales VMD.csv' cargado y normalizado exitosamente.
✅ Archivo 'Velocidad % por prov.csv' cargado y normalizado exitosamente.
✅ Archivo 'Velocidad_sin_Rangos.csv' cargado y normalizado exitosamente.

📌 **Accesos por rangos** - Primeras filas:

,ao,trimestre,provincia,hasta_512_kbps,de_512_kbps_a_1_mbps,de_1_mbps_a_6_mbps,de_6_mbps_a_10_mbps,de_10_mbps_a_20_mbps,de_20_mbps_a_30_mbps,de_30_mbps,otros,total,trimestre_label
0,2024,2,BUENOS AIRES,25287,23034,222627,221660,244528,106302,4020395,125547.0,4989380,Q2
1,2024,2,CABA,518,4122,24539,40296,33158,5633,1355333,0.0,1463599,Q2
2,2024,2,CATAMARCA,72,164,2660,3093,3799,1279,63954,53.0,75074,Q2
3,2024,2,CHACO,236,349,14594,8336,6208,6454,107707,3208.0,147092,Q2
4,2024,2,CHUBUT,125,1139,43699,31971,22696,19827,38212,16554.0,174223,Q2

📌 **Accesos Por Tecnología** - Primeras filas:

,ao,trimestre,provincia,adsl,cablemodem,fibra_ptica,wireless,otros,total,trimestre_label
0,2024,2,BUENOS AIRES,214055,2722466,1849476,138638,64745,4989380,Q2
1,2024,2,CABA,54102,1144781,230402,4493,29821,1463599,Q2
2,2024,2,CATAMARCA,4951,10303,58355,1384,81,75074,Q2
3,2024,2,CHACO,9448,57935,68944,8407,2358,147092,Q2
4,2024,2,CHUBUT,25955,80704,26516,31118,9930,174223,Q2

📌 **Accesos_tecnologia_localidad** - Primeras filas:

,provincia,partido,localidad,tecnologa,link_indec,accesos,provincia_encoded,tecnologa_encoded
0,BUENOS AIRES,25 DE MAYO,25 DE MAYO,ADSL,6854100,755,0,0
1,BUENOS AIRES,25 DE MAYO,25 DE MAYO,CABLEMODEM,6854100,4600,0,1
2,BUENOS AIRES,25 DE MAYO,25 DE MAYO,FIBRA OPTICA,6854100,2,0,4
3,BUENOS AIRES,25 DE MAYO,25 DE MAYO,SATELITAL,6854100,742,0,7
4,BUENOS AIRES,25 DE MAYO,25 DE MAYO,WIRELESS,6854100,727,0,9

📌 **Acc_vel_loc_sinrangos** - Primeras filas:

      provincia     partido   localidad link_indec  velocidad_mbps  accesos
0  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               0      1.0
1  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               0      2.0
2  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               0     19.0
3  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               3     85.0
4  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               3    145.0

📌 **Dial-BAf** - Primeras filas:

,ao,trimestre,provincia,banda_ancha_fija,dial_up,total,trimestre_label
0,2024,2,BUENOS AIRES,4983480,5900.0,4989380,Q2
1,2024,2,CABA,1461549,2050.0,1463599,Q2
2,2024,2,CATAMARCA,75073,1.0,75074,Q2
3,2024,2,CHACO,147087,5.0,147092,Q2
4,2024,2,CHUBUT,173366,857.0,174223,Q2

📌 **Ingresos ** - Primeras filas:

     ao  trimestre  ingresos_miles_de_pesos        periodo trimestre_label
0  2024          2                442032166   Abr-Jun 2024              Q2
1  2024          1                346198986   Ene-Mar 2024              Q1
2  2023          4                167376014   Oct-Dic 2023              Q4
3  2023          3                133106593  Jul-Sept 2023              Q3
4  2023          2                118060280   Jun-Mar 2023              Q2

📌 **mapa_conectividad** - Primeras filas:

,provincia,partido,localidad,poblacin,adsl,cablemodem,dial_up,fibra_ptica,satelital,wireless,telefona_fija,3g,4g,link_indec,latitud,longitud
0,BUENOS AIRES,25 De Mayo,25 De Mayo,23408,SI,SI,--,--,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 De Mayo,Agustin Mosconi,280,--,--,--,--,--,--,SI,--,--,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 De Mayo,Del Valle,899,SI,--,--,--,SI,--,--,SI,--,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 De Mayo,Ernestina,145,SI,--,--,--,--,--,SI,--,--,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 De Mayo,Gobernador Ugarte,547,--,--,--,--,--,SI,--,--,--,6854040.0,-35.164397,-60.081358

📌 **Penetracion-hogares** - Primeras filas:

     ao  trimestre     provincia  accesos_por_cada_100_hogares trimestre_label
0  2024          2  BUENOS AIRES                            79              Q2
1  2024          2          CABA                           116              Q2
2  2024          2     CATAMARCA                            68              Q2
3  2024          2         CHACO                            44              Q2
4  2024          2        CHUBUT                            86              Q2

📌 **Penetracion-totales** - Primeras filas:

,ao,trimestre,accesos_por_cada_100_hogares,accesos_por_cada_100_hab,periodo,trimestre_label
0,2024,2,78,24,Abr-Jun 2024,Q2
1,2024,1,78,24,Ene-Mar 2024,Q1
2,2023,4,78,24,Oct-Dic 2023,Q4
3,2023,3,77,24,Jul-Sept 2023,Q3
4,2023,2,77,24,Abr-Jun 2023,Q2

📌 **Penetración-poblacion** - Primeras filas:

     ao  trimestre     provincia  accesos_por_cada_100_hab trimestre_label
0  2024          2  BUENOS AIRES                        27              Q2
1  2024          2          CABA                        47              Q2
2  2024          2     CATAMARCA                        17              Q2
3  2024          2         CHACO                        11              Q2
4  2024          2        CHUBUT                        26              Q2

📌 **Totales Accesos por rango** - Primeras filas:

,ao,trimestre,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,ms_de_30_mbps,otros,total,trimestre_label
0,2024,2,28151,67024,840200,911374,662649,348253,8357088,341368,11556107,Q2
1,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,11633156,Q1
2,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661,Q4
3,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908,Q3
4,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897,Q2

📌 **Totales Accesos Por Tecnología** - Primeras filas:

,ao,trimestre,adsl,cablemodem,fibra_ptica,wireless,otros,total,periodo,trimestre_label
0,2024,2,733491,5867504,4169958,593197,191957,11556107,Abr-Jun 2024,Q2
1,2024,1,774475,5986957,4015101,598682,257941,11633156,Ene-Mar 2024,Q1
2,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023,Q4
3,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023,Q3
4,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023,Q2

📌 **Totales Dial-BAf** - Primeras filas:

     ao  trimestre  banda_ancha_fija  dial_up     total        periodo
0  1970          2          11544314    11793  11556107   Abr-Jun 2024
1  1970          1          11621363    11793  11633156   Ene-Mar 2024
2  1970          4          11535868    11793  11547661   Oct-Dic 2023
3  1970          3          11395115    11793  11406908  Jul-Sept 2023
4  1970          2          11239781    12116  11251897   Abr-Jun 2023

📌 **Totales VMD** - Primeras filas:

     ao  trimestre  mbps_media_de_bajada        periodo
0  2024          2                   139   Abr-Jun 2024
1  2024          1                   139   Ene-Mar 2024
2  2023          4                   139   Oct-Dic 2023
3  2023          3                   129  Jul-Sept 2023
4  2023          2                   123   Abr-Jun 2023

📌 **Velocidad % por prov** - Primeras filas:

,ao,trimestre,provincia,mbps_media_de_bajada,incremento_velocidad,trimestre_label
0,1970,2,BUENOS AIRES,157,NaN,Q2
1,1970,2,CABA,233,NaN,Q2
2,1970,2,CATAMARCA,97,NaN,Q2
3,1970,2,CHACO,107,NaN,Q2
4,1970,2,CHUBUT,21,NaN,Q2

📌 **Velocidad_sin_Rangos** - Primeras filas:

     ao  trimestre     provincia  velocidad  accesos trimestre_label
0  1970          2  BUENOS AIRES       75.0     1062              Q2
1  1970          2  BUENOS AIRES       59.0       59              Q2
2  1970          2  BUENOS AIRES      480.0        5              Q2
3  1970          2  BUENOS AIRES        3.0    41735              Q2
4  1970          2  BUENOS AIRES       18.0     1042              Q2

In [3]:
# Generar estadísticas básicas para cada DataFrame en el diccionario
for nombre, df in dataframes.items():
    print(f"\n📊 Estadísticas básicas para **{nombre}**:")
    display(df.describe(include='all'))

📊 Estadísticas básicas para **Accesos por rangos**:

,ao,trimestre,provincia,hasta_512_kbps,de_512_kbps_a_1_mbps,de_1_mbps_a_6_mbps,de_6_mbps_a_10_mbps,de_10_mbps_a_20_mbps,de_20_mbps_a_30_mbps,de_30_mbps,otros,total,trimestre_label
count,1000.000000,1000.000000,1000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1.000000e+03,994.000000,1.000000e+03,1000
unique,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
top,NaN,NaN,BUENOS AIRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q2
freq,NaN,NaN,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,264
mean,2018.824000,2.464000,NaN,1953.315000,8864.248000,1.327725e+05,38408.501000,37138.320000,20091.322000,1.222098e+05,6510.467807,3.679094e+05,NaN
std,3.058493,1.114426,NaN,12676.574971,20312.477602,3.222569e+05,64156.348631,88290.734989,69299.283328,4.657500e+05,15344.465875,7.899348e+05,NaN
min,2014.000000,1.000000,NaN,6.000000,0.000000,1.124000e+03,0.000000,0.000000,0.000000,0.000000e+00,-1945.000000,1.240600e+04,NaN
25%,2016.000000,1.000000,NaN,43.250000,389.750000,2.381250e+04,3876.750000,2706.750000,43.750000,1.500000e+01,0.000000,6.234225e+04,NaN
50%,2019.000000,2.000000,NaN,107.000000,2061.000000,4.213250e+04,13932.000000,10503.000000,1658.000000,4.253500e+03,346.500000,1.136205e+05,NaN
75%,2021.000000,3.000000,NaN,466.250000,6851.500000,8.371025e+04,42593.500000,26463.750000,10109.250000,4.339925e+04,6830.750000,1.969198e+05,NaN
max,2024.000000,4.000000,NaN,238920.000000,171244.000000,2.299705e+06,403575.000000,886678.000000,949093.000000,4.068292e+06,125547.000000,5.044557e+06,NaN

📊 Estadísticas básicas para **Accesos Por Tecnología**:

,ao,trimestre,provincia,adsl,cablemodem,fibra_ptica,wireless,otros,total,trimestre_label
count,1009.000000,1009.000000,1007,1.009000e+03,1.009000e+03,1.009000e+03,1009.000000,1009.000000,1.009000e+03,1009
unique,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,5
top,NaN,NaN,CABA,NaN,NaN,NaN,NaN,NaN,NaN,Q2
freq,NaN,NaN,42,NaN,NaN,NaN,NaN,NaN,NaN,240
mean,1870.683845,2.667988,NaN,1.127070e+05,1.817972e+05,4.846074e+04,12517.368682,6484.163528,3.619665e+05,NaN
std,526.541942,1.269989,NaN,2.361111e+05,4.456368e+05,1.757081e+05,20896.113852,11232.420316,7.767099e+05,NaN
min,0.000000,0.000000,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,NaN
25%,2015.000000,2.000000,NaN,1.978900e+04,1.101200e+04,3.540000e+02,812.000000,332.000000,6.237800e+04,NaN
50%,2018.000000,3.000000,NaN,4.396400e+04,4.040700e+04,3.014000e+03,5203.000000,1882.000000,1.138350e+05,NaN
75%,2021.000000,4.000000,NaN,8.654800e+04,7.642700e+04,2.911800e+04,14292.000000,7545.000000,1.954710e+05,NaN
max,2024.000000,5.000000,NaN,1.586343e+06,2.797700e+06,1.849476e+06,138638.000000,73415.000000,5.011620e+06,NaN

📊 Estadísticas básicas para **Accesos_tecnologia_localidad**:

,provincia,partido,localidad,tecnologa,link_indec,accesos,provincia_encoded,tecnologa_encoded
count,7753,7753,7753,7753,7.753000e+03,7.753000e+03,7753.000000,7753.000000
unique,24,432,2788,10,NaN,NaN,NaN,NaN
top,BUENOS AIRES,SAN JUSTO,OTROS,WIRELESS,NaN,NaN,NaN,NaN
freq,2313,136,76,2223,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,3.669881e+07,1.490534e+03,8.718948,5.038695
std,NaN,NaN,NaN,NaN,3.010589e+07,1.519591e+04,7.731670,3.299709
min,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,6.728010e+06,3.000000e+00,0.000000,1.000000
50%,NaN,NaN,NaN,NaN,2.609102e+07,5.800000e+01,7.000000,4.000000
75%,NaN,NaN,NaN,NaN,6.604201e+07,4.000000e+02,16.000000,9.000000
max,NaN,NaN,NaN,NaN,9.401402e+07,1.144781e+06,23.000000,9.000000

📊 Estadísticas básicas para **Acc_vel_loc_sinrangos**:

,provincia,partido,localidad,link_indec,velocidad_mbps,accesos
count,18864,18864,18863,18864,18864.000000,18860.000000
unique,24,432,2775,2665,NaN,NaN
top,BUENOS AIRES,GENERAL SAN MARTÍN,OTROS,6371010,NaN,NaN
freq,7172,460,132,367,NaN,NaN
mean,NaN,NaN,NaN,NaN,66.811440,613.102333
std,NaN,NaN,NaN,NaN,179.007248,6282.692560
min,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,3.000000,3.000000
50%,NaN,NaN,NaN,NaN,10.000000,26.000000
75%,NaN,NaN,NaN,NaN,30.000000,180.000000
max,NaN,NaN,NaN,NaN,1024.000000,576789.000000

📊 Estadísticas básicas para **Dial-BAf**:

,ao,trimestre,provincia,banda_ancha_fija,dial_up,total,trimestre_label
count,1992.000000,1992.000000,1992,1.992000e+03,1988.000000,1.992000e+03,1992
unique,NaN,NaN,24,NaN,NaN,NaN,4
top,NaN,NaN,BUENOS AIRES,NaN,NaN,NaN,Q1
freq,NaN,NaN,83,NaN,NaN,NaN,528
mean,2018.698795,2.457831,NaN,3.650542e+05,902.104125,3.659545e+05,NaN
std,3.001697,1.122899,NaN,7.858852e+05,2281.691033,7.876088e+05,NaN
min,2014.000000,1.000000,NaN,1.219300e+04,0.000000,1.255700e+04,NaN
25%,2016.000000,1.000000,NaN,6.183400e+04,5.000000,6.223600e+04,NaN
50%,2019.000000,2.000000,NaN,1.123150e+05,137.000000,1.136630e+05,NaN
75%,2021.000000,3.000000,NaN,1.954710e+05,615.000000,1.954710e+05,NaN
max,2024.000000,4.000000,NaN,5.038657e+06,15229.000000,5.044557e+06,NaN

📊 Estadísticas básicas para **Ingresos **:

,ao,trimestre,ingresos_miles_de_pesos,periodo,trimestre_label
count,42.000000,42.000000,4.200000e+01,42,42
unique,NaN,NaN,NaN,42,4
top,NaN,NaN,NaN,Abr-Jun 2024,Q2
freq,NaN,NaN,NaN,1,11
mean,2019.000000,2.452381,5.001648e+07,NaN,NaN
std,3.728597,1.130560,8.710208e+07,NaN,NaN
min,2014.000000,1.000000,2.984054e+06,NaN,NaN
25%,2016.000000,1.250000,7.055326e+06,NaN,NaN
50%,2019.000000,2.000000,2.047526e+07,NaN,NaN
75%,2021.000000,3.000000,4.485090e+07,NaN,NaN
max,2033.000000,4.000000,4.420322e+08,NaN,NaN

📊 Estadísticas básicas para **mapa_conectividad**:

,provincia,partido,localidad,poblacin,adsl,cablemodem,dial_up,fibra_ptica,satelital,wireless,telefona_fija,3g,4g,link_indec,latitud,longitud
count,4305,4305,4305,4.305000e+03,4305,4305,4305,4305,4305,4305,4305,4305,4305,4.293000e+03,4305.000000,4305.000000
unique,24,444,3890,NaN,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN
top,BUENOS AIRES,General Roca,San Pedro,NaN,--,--,--,--,--,SI,--,--,SI,NaN,NaN,NaN
freq,900,84,12,NaN,3185,3432,3902,2726,3285,2260,2155,2359,2228,NaN,NaN,NaN
mean,NaN,NaN,NaN,8.707207e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.908916e+07,-32.263116,-63.039292
std,NaN,NaN,NaN,3.824490e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.939911e+07,5.001839,3.829679
min,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000010e+06,-77.874009,-72.891627
25%,NaN,NaN,NaN,1.170000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.009104e+07,-34.708542,-65.686443
50%,NaN,NaN,NaN,5.790000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.400705e+07,-32.286202,-63.450636
75%,NaN,NaN,NaN,3.217000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.612603e+07,-28.583403,-60.009923
max,NaN,NaN,NaN,1.317298e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.401402e+07,-21.817293,-34.626560

📊 Estadísticas básicas para **Penetracion-hogares**:

,ao,trimestre,provincia,accesos_por_cada_100_hogares,trimestre_label
count,1000.000000,1000.000000,1000,1000.000000,1000
unique,NaN,NaN,24,NaN,4
top,NaN,NaN,BUENOS AIRES,NaN,Q2
freq,NaN,NaN,42,NaN,264
mean,2018.800000,2.464000,NaN,52.293000,NaN
std,3.021445,1.114426,NaN,24.143986,NaN
min,2014.000000,1.000000,NaN,9.000000,NaN
25%,2016.000000,1.000000,NaN,33.000000,NaN
50%,2019.000000,2.000000,NaN,50.000000,NaN
75%,2021.000000,3.000000,NaN,67.000000,NaN
max,2024.000000,4.000000,NaN,124.000000,NaN

📊 Estadísticas básicas para **Penetracion-totales**:

,ao,trimestre,accesos_por_cada_100_hogares,accesos_por_cada_100_hab,periodo,trimestre_label
count,42.000000,42.000000,42.000000,42.000000,42,42
unique,NaN,NaN,NaN,NaN,42,4
top,NaN,NaN,NaN,NaN,Abr-Jun 2024,Q2
freq,NaN,NaN,NaN,NaN,1,11
mean,2018.761905,2.452381,62.619048,19.071429,NaN,NaN
std,3.074756,1.130560,10.007198,3.263941,NaN,NaN
min,2014.000000,1.000000,49.000000,15.000000,NaN,NaN
25%,2016.000000,1.250000,53.000000,16.000000,NaN,NaN
50%,2019.000000,2.000000,62.000000,19.000000,NaN,NaN
75%,2021.000000,3.000000,72.250000,21.750000,NaN,NaN
max,2024.000000,4.000000,78.000000,24.000000,NaN,NaN

📊 Estadísticas básicas para **Penetración-poblacion**:

,ao,trimestre,provincia,accesos_por_cada_100_hab,trimestre_label
count,1000.000000,1000.000000,1000,1000.000000,1000
unique,NaN,NaN,24,NaN,4
top,NaN,NaN,BUENOS AIRES,NaN,Q2
freq,NaN,NaN,42,NaN,264
mean,2018.800000,2.464000,NaN,15.219000,NaN
std,3.021445,1.114426,NaN,9.247191,NaN
min,2014.000000,1.000000,NaN,2.000000,NaN
25%,2016.000000,1.000000,NaN,9.000000,NaN
50%,2019.000000,2.000000,NaN,13.000000,NaN
75%,2021.000000,3.000000,NaN,20.000000,NaN
max,2024.000000,4.000000,NaN,52.000000,NaN

📊 Estadísticas básicas para **Totales Accesos por rango**:

,ao,trimestre,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,ms_de_30_mbps,otros,total,trimestre_label
count,42.000000,42.000000,42.000000,42.000000,4.200000e+01,4.200000e+01,4.200000e+01,4.200000e+01,4.200000e+01,42.000000,4.200000e+01,42
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q2
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
mean,2018.761905,2.452381,46756.595238,215615.285714,3.176365e+06,9.154819e+05,8.844276e+05,4.783656e+05,2.909772e+06,154081.071429,8.780865e+06,NaN
std,3.074756,1.130560,48922.973593,192134.704593,1.552136e+06,2.293758e+05,4.515900e+05,4.334343e+05,3.138715e+06,132453.955052,1.772655e+06,NaN
min,2014.000000,1.000000,5675.000000,28521.000000,8.402000e+05,2.891820e+05,1.011270e+05,3.450000e+02,1.159500e+04,0.000000,6.272846e+06,NaN
25%,2016.000000,1.250000,29027.750000,69951.750000,1.692724e+06,8.623452e+05,6.774355e+05,1.358035e+05,3.291400e+04,0.000000,7.151638e+06,NaN
50%,2019.000000,2.000000,34960.000000,150273.000000,3.313002e+06,9.787620e+05,7.929725e+05,3.612495e+05,1.408279e+06,176235.500000,8.720658e+06,NaN
75%,2021.000000,3.000000,41057.500000,279159.250000,4.780396e+06,1.058518e+06,1.022656e+06,5.925450e+05,5.761285e+06,242214.000000,1.038873e+07,NaN
max,2024.000000,4.000000,241713.000000,687619.000000,5.153437e+06,1.245333e+06,2.068087e+06,1.688748e+06,8.363694e+06,414754.000000,1.163316e+07,NaN

📊 Estadísticas básicas para **Totales Accesos Por Tecnología**:

,ao,trimestre,adsl,cablemodem,fibra_ptica,wireless,otros,total,periodo,trimestre_label
count,42.000000,42.000000,4.200000e+01,4.200000e+01,4.200000e+01,42.000000,42.000000,4.200000e+01,42,42
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,4
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abr-Jun 2024,Q2
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11
mean,2018.761905,2.452381,2.694844e+06,4.433906e+06,1.224694e+06,304293.214286,158186.071429,8.815923e+06,NaN,NaN
std,3.074756,1.130560,1.094347e+06,1.319783e+06,1.321136e+06,203202.399993,82363.507846,1.733189e+06,NaN,NaN
min,2014.000000,1.000000,7.334910e+05,2.407330e+06,1.391870e+05,70749.000000,54300.000000,6.398398e+06,NaN,NaN
25%,2016.000000,1.250000,1.730869e+06,3.146292e+06,1.719410e+05,85390.500000,70430.000000,7.218131e+06,NaN,NaN
50%,2019.000000,2.000000,3.061623e+06,4.535507e+06,6.989465e+05,292223.000000,185221.000000,8.720658e+06,NaN,NaN
75%,2021.000000,3.000000,3.713298e+06,5.857192e+06,1.945689e+06,515434.000000,244069.500000,1.038873e+07,NaN,NaN
max,2024.000000,4.000000,3.803024e+06,6.073426e+06,4.169958e+06,598682.000000,265328.000000,1.163316e+07,NaN,NaN

📊 Estadísticas básicas para **Totales Dial-BAf**:

,ao,trimestre,banda_ancha_fija,dial_up,total,periodo
count,42.0,42.000000,4.200000e+01,42.000000,4.200000e+01,42
unique,NaN,NaN,NaN,NaN,NaN,42
top,NaN,NaN,NaN,NaN,NaN,Abr-Jun 2024
freq,NaN,NaN,NaN,NaN,NaN,1
mean,1970.0,2.452381,8.794433e+06,21490.190476,8.815923e+06,NaN
std,0.0,1.130560,1.742229e+06,10136.781243,1.733189e+06,NaN
min,1970.0,1.000000,6.362108e+06,9991.000000,6.398398e+06,NaN
25%,1970.0,1.250000,7.189537e+06,11793.000000,7.218131e+06,NaN
50%,1970.0,2.000000,8.704688e+06,21802.500000,8.720658e+06,NaN
75%,1970.0,3.000000,1.037650e+07,28593.750000,1.038873e+07,NaN
max,1970.0,4.000000,1.162136e+07,39324.000000,1.163316e+07,NaN

📊 Estadísticas básicas para **Totales VMD**:

                 ao  trimestre  mbps_media_de_bajada       periodo
count     42.000000  42.000000             42.000000            42
unique          NaN        NaN                   NaN            42
top             NaN        NaN                   NaN  Abr-Jun 2024
freq            NaN        NaN                   NaN             1
mean    2018.761905   2.452381             38.880952           NaN
std        3.074756   1.130560             43.677422           NaN
min     2014.000000   1.000000              3.000000           NaN
25%     2016.000000   1.250000              5.250000           NaN
50%     2019.000000   2.000000             18.500000           NaN
75%     2021.000000   3.000000             51.000000           NaN
max     2024.000000   4.000000            139.000000           NaN

📊 Estadísticas básicas para **Velocidad % por prov**:

,ao,trimestre,provincia,mbps_media_de_bajada,incremento_velocidad,trimestre_label
count,1008.0,1008.000000,1008,1008.000000,984.000000,1008
unique,NaN,NaN,24,NaN,NaN,4
top,NaN,NaN,BUENOS AIRES,NaN,NaN,Q2
freq,NaN,NaN,42,NaN,NaN,264
mean,1970.0,2.452381,NaN,24.222222,-2.056911,NaN
std,0.0,1.117574,NaN,33.666131,6.504777,NaN
min,1970.0,1.000000,NaN,2.000000,-81.000000,NaN
25%,1970.0,1.000000,NaN,4.000000,-2.000000,NaN
50%,1970.0,2.000000,NaN,10.000000,-1.000000,NaN
75%,1970.0,3.000000,NaN,29.000000,0.000000,NaN
max,1970.0,4.000000,NaN,234.000000,5.000000,NaN

📊 Estadísticas básicas para **Velocidad_sin_Rangos**:

,ao,trimestre,provincia,velocidad,accesos,trimestre_label
count,18884.0,18884.000000,18884,18874.000000,1.888400e+04,18884
unique,NaN,NaN,24,NaN,NaN,4
top,NaN,NaN,BUENOS AIRES,NaN,NaN,Q2
freq,NaN,NaN,1730,NaN,NaN,4970
mean,1970.0,2.477653,NaN,96.022412,1.412328e+04,NaN
std,0.0,1.126947,NaN,379.757062,6.856387e+04,NaN
min,1970.0,1.000000,NaN,0.000000,0.000000e+00,NaN
25%,1970.0,1.000000,NaN,4.000000,2.600000e+01,NaN
50%,1970.0,2.000000,NaN,12.000000,6.725000e+02,NaN
75%,1970.0,4.000000,NaN,50.000000,6.114000e+03,NaN
max,1970.0,4.000000,NaN,10000.000000,1.346370e+06,NaN

In [4]:
from skimpy import skim

# Resumen del DataFrame
skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 18884  │ │ int64       │ 3     │                                                          │
│ │ Number of columns │ 6      │ │ string      │ 2     │                                                          │
│ └───────────────────┴────────┘ │ float64     │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━┳━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━┳━━━━━━┳━━━━━━━┳━━━━━━┳━━━━━━━━━┳━━━━━━━━┓  │
│ ┃ column     ┃ NA  ┃ NA %                  ┃ mean   ┃ sd     ┃ p0   ┃ p25  ┃ p50   ┃ p75  ┃ p100    ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━╇━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━╇━━━━━━╇━━━━━━━╇━━━━━━╇━━━━━━━━━╇━━━━━━━━┩  │
│ │ ao         │   0 │                     0 │   1970 │      0 │ 1970 │ 1970 │  1970 │ 1970 │    1970 │     ▇  │  │
│ │ trimestre  │   0 │                     0 │  2.478 │  1.127 │    1 │    1 │     2 │    4 │       4 │ ▇ ▇ ▇▇ │  │
│ │ velocidad  │  10 │  0.052954882440160986 │  96.02 │  379.8 │    0 │    4 │    12 │   50 │   10000 │   ▇    │  │
│ │ accesos    │   0 │                     0 │  14120 │  68560 │    0 │   26 │ 672.5 │ 6114 │ 1346000 │   ▇    │  │
│ └────────────┴─────┴───────────────────────┴────────┴────────┴──────┴──────┴───────┴──────┴─────────┴────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━┳━━━━┳━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━┓  │
│ ┃            ┃    ┃      ┃          ┃            ┃           ┃         ┃ chars per  ┃ words per ┃ total      ┃  │
│ ┃ column     ┃ NA ┃ NA % ┃ shortest ┃ longest    ┃ min       ┃ max     ┃ row        ┃ row       ┃ words      ┃  │
│ ┡━━━━━━━━━━━━╇━━━━╇━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━┩  │
│ │ provincia  │  0 │    0 │ CABA     │ SANTIAGO   │ BUENOS    │ TUCUMÁN │       8.38 │       1.5 │      28859 │  │
│ │            │    │      │          │ DEL ESTERO │ AIRES     │         │            │           │            │  │
│ │ trimestre_ │  0 │    0 │ Q2       │ Q2         │ Q1        │ Q4      │          2 │         1 │      18884 │  │
│ │ label      │    │      │          │            │           │         │            │           │            │  │
│ └────────────┴────┴──────┴──────────┴────────────┴───────────┴─────────┴────────────┴───────────┴────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

In [6]:
import numpy as np

# Análisis de correlación para cada DataFrame en el diccionario
for nombre, df in dataframes.items():
    print(f"\n🔍 Análisis de correlación para **{nombre}**:")
    # Seleccionar solo las columnas numéricas
    numeric_df = df.select_dtypes(include=[np.number])
    corr_matrix = numeric_df.corr()
    display(corr_matrix)

🔍 Análisis de correlación para **Accesos por rangos**:

,ao,trimestre,hasta_512_kbps,de_512_kbps_a_1_mbps,de_1_mbps_a_6_mbps,de_6_mbps_a_10_mbps,de_10_mbps_a_20_mbps,de_20_mbps_a_30_mbps,de_30_mbps,otros,total
ao,1.000000,-0.079393,-0.001343,-0.330976,-0.198674,0.104317,0.018461,0.075515,0.262288,0.317228,0.088366
trimestre,-0.079393,1.000000,-0.001507,-0.026326,-0.003507,0.010679,0.002718,0.022964,-0.003537,-0.009354,-0.001192
hasta_512_kbps,-0.001343,-0.001507,1.000000,0.257982,0.381097,0.356521,0.395033,0.590415,0.378835,0.219595,0.530679
de_512_kbps_a_1_mbps,-0.330976,-0.026326,0.257982,1.000000,0.815951,0.514887,0.465219,0.255430,0.099451,0.080709,0.539168
de_1_mbps_a_6_mbps,-0.198674,-0.003507,0.381097,0.815951,1.000000,0.714649,0.675278,0.437986,0.168127,0.135733,0.708752
de_6_mbps_a_10_mbps,0.104317,0.010679,0.356521,0.514887,0.714649,1.000000,0.818940,0.554713,0.546901,0.408739,0.862285
de_10_mbps_a_20_mbps,0.018461,0.002718,0.395033,0.465219,0.675278,0.818940,1.000000,0.767318,0.360618,0.426231,0.760228
de_20_mbps_a_30_mbps,0.075515,0.022964,0.590415,0.255430,0.437986,0.554713,0.767318,1.000000,0.346659,0.419922,0.625701
de_30_mbps,0.262288,-0.003537,0.378835,0.099451,0.168127,0.546901,0.360618,0.346659,1.000000,0.600418,0.793593
otros,0.317228,-0.009354,0.219595,0.080709,0.135733,0.408739,0.426231,0.419922,0.600418,1.000000,0.552014
total,0.088366,-0.001192,0.530679,0.539168,0.708752,0.862285,0.760228,0.625701,0.793593,0.552014,1.000000

🔍 Análisis de correlación para **Accesos Por Tecnología**:

,ao,trimestre,adsl,cablemodem,fibra_ptica,wireless,otros,total
ao,1.000000,-0.502206,-0.024153,-0.002940,0.046484,0.002827,-0.071860,0.000523
trimestre,-0.502206,1.000000,0.017401,0.014156,-0.018405,0.013424,0.057391,0.010439
adsl,-0.024153,0.017401,1.000000,0.661427,0.259113,0.297841,0.448077,0.756592
cablemodem,-0.002940,0.014156,0.661427,1.000000,0.782644,0.654969,0.798186,0.981030
fibra_ptica,0.046484,-0.018405,0.259113,0.782644,1.000000,0.770042,0.697495,0.784833
wireless,0.002827,0.013424,0.297841,0.654969,0.770042,1.000000,0.711229,0.677717
otros,-0.071860,0.057391,0.448077,0.798186,0.697495,0.711229,1.000000,0.785553
total,0.000523,0.010439,0.756592,0.981030,0.784833,0.677717,0.785553,1.000000

🔍 Análisis de correlación para **Accesos_tecnologia_localidad**:

                   link_indec   accesos  provincia_encoded  tecnologa_encoded
link_indec           1.000000 -0.038430           0.974193           0.076558
accesos             -0.038430  1.000000          -0.038989          -0.074738
provincia_encoded    0.974193 -0.038989           1.000000           0.087916
tecnologa_encoded    0.076558 -0.074738           0.087916           1.000000

🔍 Análisis de correlación para **Acc_vel_loc_sinrangos**:

                velocidad_mbps   accesos
velocidad_mbps        1.000000  0.037237
accesos               0.037237  1.000000

🔍 Análisis de correlación para **Dial-BAf**:

                        ao  trimestre  banda_ancha_fija   dial_up     total
ao                1.000000  -0.066355          0.089032 -0.169163  0.088348
trimestre        -0.066355   1.000000          0.003007 -0.007771  0.002979
banda_ancha_fija  0.089032   0.003007          1.000000  0.755312  0.999998
dial_up          -0.169163  -0.007771          0.755312  1.000000  0.756554
total             0.088348   0.002979          0.999998  0.756554  1.000000

🔍 Análisis de correlación para **Ingresos **:

                               ao  trimestre  ingresos_miles_de_pesos
ao                       1.000000  -0.144650                 0.594475
trimestre               -0.144650   1.000000                -0.115954
ingresos_miles_de_pesos  0.594475  -0.115954                 1.000000

🔍 Análisis de correlación para **mapa_conectividad**:

            poblacin  link_indec   latitud  longitud
poblacin    1.000000   -0.077046 -0.036159  0.104408
link_indec -0.077046    1.000000  0.211017 -0.322642
latitud    -0.036159    0.211017  1.000000  0.088955
longitud    0.104408   -0.322642  0.088955  1.000000

🔍 Análisis de correlación para **Penetracion-hogares**:

,ao,trimestre,accesos_por_cada_100_hogares
ao,1.000000,-0.091325,0.490741
trimestre,-0.091325,1.000000,0.007554
accesos_por_cada_100_hogares,0.490741,0.007554,1.000000

🔍 Análisis de correlación para **Penetracion-totales**:

,ao,trimestre,accesos_por_cada_100_hogares,accesos_por_cada_100_hab
ao,1.000000,-0.073505,0.981478,0.976294
trimestre,-0.073505,1.000000,0.028539,0.017468
accesos_por_cada_100_hogares,0.981478,0.028539,1.000000,0.995493
accesos_por_cada_100_hab,0.976294,0.017468,0.995493,1.000000

🔍 Análisis de correlación para **Penetración-poblacion**:

                                ao  trimestre  accesos_por_cada_100_hab
ao                        1.000000  -0.091325                  0.368437
trimestre                -0.091325   1.000000                  0.003243
accesos_por_cada_100_hab  0.368437   0.003243                  1.000000

🔍 Análisis de correlación para **Totales Accesos por rango**:

,ao,trimestre,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,ms_de_30_mbps,otros,total
ao,1.000000,-0.073505,-0.001661,-0.865975,-0.977664,0.748953,0.115103,0.309049,0.941703,0.893975,0.986057
trimestre,-0.073505,1.000000,-0.006068,-0.086527,-0.008860,0.108016,0.032846,0.099801,-0.002851,-0.010735,0.023592
hasta_512_kbps,-0.001661,-0.006068,1.000000,-0.099703,0.047988,-0.043408,0.018232,0.502356,-0.095905,0.090413,0.017614
entre_512_kbps_y_1_mbps,-0.865975,-0.086527,-0.099703,1.000000,0.813476,-0.923231,-0.386999,-0.517428,-0.698045,-0.753155,-0.818908
entre_1_mbps_y_6_mbps,-0.977664,-0.008860,0.047988,0.813476,1.000000,-0.712943,-0.106157,-0.303455,-0.953816,-0.923350,-0.986247
entre_6_mbps_y_10_mbps,0.748953,0.108016,-0.043408,-0.923231,-0.712943,1.000000,0.495508,0.404416,0.583055,0.625978,0.708144
entre_10_mbps_y_20_mbps,0.115103,0.032846,0.018232,-0.386999,-0.106157,0.495508,1.000000,0.648682,-0.171315,0.174798,0.052813
entre_20_mbps_y_30_mbps,0.309049,0.099801,0.502356,-0.517428,-0.303455,0.404416,0.648682,1.000000,0.054986,0.420156,0.282926
ms_de_30_mbps,0.941703,-0.002851,-0.095905,-0.698045,-0.953816,0.583055,-0.171315,0.054986,1.000000,0.844352,0.965499
otros,0.893975,-0.010735,0.090413,-0.753155,-0.923350,0.625978,0.174798,0.420156,0.844352,1.000000,0.910396
total,0.986057,0.023592,0.017614,-0.818908,-0.986247,0.708144,0.052813,0.282926,0.965499,0.910396,1.000000

🔍 Análisis de correlación para **Totales Accesos Por Tecnología**:

,ao,trimestre,adsl,cablemodem,fibra_ptica,wireless,otros,total
ao,1.000000,-0.073505,-0.951631,0.976749,0.903746,0.968878,0.831267,0.984889
trimestre,-0.073505,1.000000,0.005384,0.037978,-0.013996,0.016742,0.025812,0.024840
adsl,-0.951631,0.005384,1.000000,-0.935436,-0.967687,-0.979094,-0.803222,-0.971494
cablemodem,0.976749,0.037978,-0.935436,1.000000,0.850233,0.979382,0.897399,0.976403
fibra_ptica,0.903746,-0.013996,-0.967687,0.850233,1.000000,0.918549,0.660437,0.937763
wireless,0.968878,0.016742,-0.979094,0.979382,0.918549,1.000000,0.873744,0.986505
otros,0.831267,0.025812,-0.803222,0.897399,0.660437,0.873744,1.000000,0.829572
total,0.984889,0.024840,-0.971494,0.976403,0.937763,0.986505,0.829572,1.000000

🔍 Análisis de correlación para **Totales Dial-BAf**:

                  ao  trimestre  banda_ancha_fija   dial_up     total
ao               NaN        NaN               NaN       NaN       NaN
trimestre        NaN   1.000000          0.024918 -0.035652  0.024840
banda_ancha_fija NaN   0.024918          1.000000 -0.892453  0.999997
dial_up          NaN  -0.035652         -0.892453  1.000000 -0.891260
total            NaN   0.024840          0.999997 -0.891260  1.000000

🔍 Análisis de correlación para **Totales VMD**:

                            ao  trimestre  mbps_media_de_bajada
ao                    1.000000  -0.073505              0.879884
trimestre            -0.073505   1.000000             -0.008267
mbps_media_de_bajada  0.879884  -0.008267              1.000000

🔍 Análisis de correlación para **Velocidad % por prov**:

,ao,trimestre,mbps_media_de_bajada,incremento_velocidad
ao,NaN,NaN,NaN,NaN
trimestre,NaN,1.000000,-0.005182,-0.035473
mbps_media_de_bajada,NaN,-0.005182,1.000000,-0.260318
incremento_velocidad,NaN,-0.035473,-0.260318,1.000000

🔍 Análisis de correlación para **Velocidad_sin_Rangos**:

           ao  trimestre  velocidad   accesos
ao        NaN        NaN        NaN       NaN
trimestre NaN   1.000000   0.000835 -0.000093
velocidad NaN   0.000835   1.000000 -0.015584
accesos   NaN  -0.000093  -0.015584  1.000000

In [ ]:
import folium

# Crear un mapa centrado en el promedio de las coordenadas
mapa = folium.Map(location=[df['latitud'].mean(), df['longitud'].mean()], zoom_start=6)

# Añadir puntos al mapa
for _, row in df.iterrows():
    folium.Marker(location=[row['latitud'], row['longitud']], popup=row['localidad']).add_to(mapa)

# Mostrar el mapa
mapa

In [14]:
# Mostrar filas duplicadas en el DataFrame
duplicados = df[df.duplicated()]
print(f"Filas duplicadas: {len(duplicados)}")
display(duplicados)

Filas duplicadas: 2641

         ao  trimestre         provincia  velocidad  accesos trimestre_label
437    1970          2          LA RIOJA        0.0        9              Q2
814    1970          2  TIERRA DEL FUEGO        0.0       11              Q2
918    1970          1      BUENOS AIRES       50.0        1              Q1
1303   1970          1          LA RIOJA        0.0        9              Q1
1675   1970          1  TIERRA DEL FUEGO        0.0       11              Q1
...     ...        ...               ...        ...      ...             ...
18840  1970          4          SANTA FE       22.0       24              Q4
18847  1970          4          SANTA FE       61.0        1              Q4
18848  1970          4          SANTA FE       97.0        1              Q4
18864  1970          4  TIERRA DEL FUEGO        0.0        6              Q4
18869  1970          4  TIERRA DEL FUEGO        4.0        1              Q4

[2641 rows x 6 columns]

In [15]:
# Identificar en qué archivo se presentan los duplicados
for nombre, df in dataframes.items():
    duplicados = df[df.duplicated()]
    if not duplicados.empty:
        print(f"El archivo '{nombre}' contiene filas duplicadas.")
        display(duplicados)

El archivo 'Acc_vel_loc_sinrangos' contiene filas duplicadas.

,provincia,partido,localidad,link_indec,velocidad_mbps,accesos
136,BUENOS AIRES,ALMIRANTE BROWN,ADROGUÉ,6028010,0,1.0
138,BUENOS AIRES,ALMIRANTE BROWN,ADROGUÉ,6028010,0,1.0
164,BUENOS AIRES,ALMIRANTE BROWN,BURZACO,6028010,0,1.0
257,BUENOS AIRES,ALMIRANTE BROWN,LONGCHAMPS,6028010,0,1.0
324,BUENOS AIRES,ALMIRANTE BROWN,SAN FRANCISCO SOLANO,6028010,0,1.0
...,...,...,...,...,...,...
18261,SANTIAGO DEL ESTERO,MORENO,QUIMILÍ,86119100,0,3.0
18286,SANTIAGO DEL ESTERO,OJO DE AGUA,SOL DE JULIO,86126020,0,1.0
18352,SANTIAGO DEL ESTERO,RIVADAVIA,SELVA,86154030,0,1.0
18499,TUCUMÁN,BURRUYACÚ,VILLA BURRUYACÚ,90007100,0,1.0
18596,TUCUMÁN,FAMAILLÁ,FAMAILLÁ,90028030,0,1.0

El archivo 'Dial-BAf' contiene filas duplicadas.

,ao,trimestre,provincia,banda_ancha_fija,dial_up,total,trimestre_label
1008,2024,1,BUENOS AIRES,5038657,5900.0,5044557,Q1
1009,2024,1,CABA,1502661,2050.0,1504711,Q1
1010,2024,1,CATAMARCA,74932,1.0,74933,Q1
1011,2024,1,CHACO,155538,5.0,155543,Q1
1012,2024,1,CHUBUT,169819,857.0,170676,Q1
...,...,...,...,...,...,...,...
1987,2014,1,SANTA CRUZ,26304,460.0,26764,Q1
1988,2014,1,SANTA FE,506000,612.0,506612,Q1
1989,2014,1,SANTIAGO DEL ESTERO,37124,9.0,37133,Q1
1990,2014,1,TIERRA DEL FUEGO,27272,766.0,28038,Q1
1991,2014,1,TUCUMÁN,129944,88.0,130032,Q1

El archivo 'Velocidad % por prov' contiene filas duplicadas.

,ao,trimestre,provincia,mbps_media_de_bajada,incremento_velocidad,trimestre_label
412,1970,1,CHUBUT,7,0.0,Q1
425,1970,1,SAN JUAN,6,0.0,Q1
449,1970,4,SAN JUAN,6,0.0,Q4
450,1970,4,SAN LUIS,20,0.0,Q4
473,1970,3,SAN JUAN,6,0.0,Q3
...,...,...,...,...,...,...
999,1970,1,RÍO NEGRO,3,0.0,Q1
1001,1970,1,SAN JUAN,3,0.0,Q1
1002,1970,1,SAN LUIS,3,0.0,Q1
1003,1970,1,SANTA CRUZ,3,0.0,Q1
1006,1970,1,TIERRA DEL FUEGO,3,0.0,Q1

El archivo 'Velocidad_sin_Rangos' contiene filas duplicadas.

         ao  trimestre         provincia  velocidad  accesos trimestre_label
437    1970          2          LA RIOJA        0.0        9              Q2
814    1970          2  TIERRA DEL FUEGO        0.0       11              Q2
918    1970          1      BUENOS AIRES       50.0        1              Q1
1303   1970          1          LA RIOJA        0.0        9              Q1
1675   1970          1  TIERRA DEL FUEGO        0.0       11              Q1
...     ...        ...               ...        ...      ...             ...
18840  1970          4          SANTA FE       22.0       24              Q4
18847  1970          4          SANTA FE       61.0        1              Q4
18848  1970          4          SANTA FE       97.0        1              Q4
18864  1970          4  TIERRA DEL FUEGO        0.0        6              Q4
18869  1970          4  TIERRA DEL FUEGO        4.0        1              Q4

[2641 rows x 6 columns]

In [16]:
# Especificar el encoding adecuado
encoding = 'latin1'

# Diccionario para almacenar los DataFrames con el nuevo encoding
dataframes_reloaded = {}

# Cargar cada archivo de la lista con el nuevo encoding
for archivo in archivos:
    ruta_completa = os.path.join(ruta_base, archivo)

    try:
        # Cargar el archivo CSV con el nuevo encoding
        df = pd.read_csv(ruta_completa, encoding=encoding)

        # Normalizar los nombres de las columnas
        df.columns = (
            df.columns
            .str.strip()   # Eliminar espacios en los nombres de las columnas
            .str.lower()   # Convertir a minúsculas
            .str.replace(" ", "_")  # Reemplazar espacios por guiones bajos
            .str.replace(r"[^a-zA-Z0-9_]", "", regex=True)  # Eliminar caracteres especiales
        )

        # Guardar en el diccionario con un nombre limpio
        nombre_sin_extension = os.path.splitext(archivo)[0]
        dataframes_reloaded[nombre_sin_extension] = df

        print(f"✅ Archivo '{archivo}' cargado y normalizado exitosamente con encoding '{encoding}'.")

    except Exception as e:
        print(f"⚠️ Error al cargar '{archivo}' con encoding '{encoding}': {e}")

# Mostrar las primeras filas de cada DataFrame cargado con el nuevo encoding
for nombre, df in dataframes_reloaded.items():
    print(f"\n📌 **{nombre}** - Primeras filas con nuevo encoding:")
    display(df.head())

# Ahora puedes acceder a los DataFrames con:
# dataframes_reloaded["nombre_del_archivo_sin_extension"]

✅ Archivo 'Accesos por rangos.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Accesos Por Tecnología.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Accesos_tecnologia_localidad.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Acc_vel_loc_sinrangos.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Dial-BAf.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Ingresos .csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'mapa_conectividad.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Penetracion-hogares.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Penetracion-totales.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Penetración-poblacion.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Totales Accesos por rango.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Totales Accesos Por Tecnología.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Totales Dial-BAf.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Totales VMD.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Velocidad % por prov.csv' cargado y normalizado exitosamente con encoding 'latin1'.
✅ Archivo 'Velocidad_sin_Rangos.csv' cargado y normalizado exitosamente con encoding 'latin1'.

📌 **Accesos por rangos** - Primeras filas con nuevo encoding:

,ao,trimestre,provincia,hasta_512_kbps,de_512_kbps_a_1_mbps,de_1_mbps_a_6_mbps,de_6_mbps_a_10_mbps,de_10_mbps_a_20_mbps,de_20_mbps_a_30_mbps,de_30_mbps,otros,total,trimestre_label
0,2024,2,BUENOS AIRES,25287,23034,222627,221660,244528,106302,4020395,125547.0,4989380,Q2
1,2024,2,CABA,518,4122,24539,40296,33158,5633,1355333,0.0,1463599,Q2
2,2024,2,CATAMARCA,72,164,2660,3093,3799,1279,63954,53.0,75074,Q2
3,2024,2,CHACO,236,349,14594,8336,6208,6454,107707,3208.0,147092,Q2
4,2024,2,CHUBUT,125,1139,43699,31971,22696,19827,38212,16554.0,174223,Q2

📌 **Accesos Por Tecnología** - Primeras filas con nuevo encoding:

,ao,trimestre,provincia,adsl,cablemodem,fibra_ptica,wireless,otros,total,trimestre_label
0,2024,2,BUENOS AIRES,214055,2722466,1849476,138638,64745,4989380,Q2
1,2024,2,CABA,54102,1144781,230402,4493,29821,1463599,Q2
2,2024,2,CATAMARCA,4951,10303,58355,1384,81,75074,Q2
3,2024,2,CHACO,9448,57935,68944,8407,2358,147092,Q2
4,2024,2,CHUBUT,25955,80704,26516,31118,9930,174223,Q2

📌 **Accesos_tecnologia_localidad** - Primeras filas con nuevo encoding:

,provincia,partido,localidad,tecnologa,link_indec,accesos,provincia_encoded,tecnologa_encoded
0,BUENOS AIRES,25 DE MAYO,25 DE MAYO,ADSL,6854100,755,0,0
1,BUENOS AIRES,25 DE MAYO,25 DE MAYO,CABLEMODEM,6854100,4600,0,1
2,BUENOS AIRES,25 DE MAYO,25 DE MAYO,FIBRA OPTICA,6854100,2,0,4
3,BUENOS AIRES,25 DE MAYO,25 DE MAYO,SATELITAL,6854100,742,0,7
4,BUENOS AIRES,25 DE MAYO,25 DE MAYO,WIRELESS,6854100,727,0,9

📌 **Acc_vel_loc_sinrangos** - Primeras filas con nuevo encoding:

      provincia     partido   localidad link_indec  velocidad_mbps  accesos
0  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               0      1.0
1  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               0      2.0
2  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               0     19.0
3  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               3     85.0
4  BUENOS AIRES  25 DE MAYO  25 DE MAYO    6854100               3    145.0

📌 **Dial-BAf** - Primeras filas con nuevo encoding:

,ao,trimestre,provincia,banda_ancha_fija,dial_up,total,trimestre_label
0,2024,2,BUENOS AIRES,4983480,5900.0,4989380,Q2
1,2024,2,CABA,1461549,2050.0,1463599,Q2
2,2024,2,CATAMARCA,75073,1.0,75074,Q2
3,2024,2,CHACO,147087,5.0,147092,Q2
4,2024,2,CHUBUT,173366,857.0,174223,Q2

📌 **Ingresos ** - Primeras filas con nuevo encoding:

     ao  trimestre  ingresos_miles_de_pesos        periodo trimestre_label
0  2024          2                442032166   Abr-Jun 2024              Q2
1  2024          1                346198986   Ene-Mar 2024              Q1
2  2023          4                167376014   Oct-Dic 2023              Q4
3  2023          3                133106593  Jul-Sept 2023              Q3
4  2023          2                118060280   Jun-Mar 2023              Q2

📌 **mapa_conectividad** - Primeras filas con nuevo encoding:

,provincia,partido,localidad,poblacin,adsl,cablemodem,dial_up,fibra_ptica,satelital,wireless,telefona_fija,3g,4g,link_indec,latitud,longitud
0,BUENOS AIRES,25 De Mayo,25 De Mayo,23408,SI,SI,--,--,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 De Mayo,Agustin Mosconi,280,--,--,--,--,--,--,SI,--,--,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 De Mayo,Del Valle,899,SI,--,--,--,SI,--,--,SI,--,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 De Mayo,Ernestina,145,SI,--,--,--,--,--,SI,--,--,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 De Mayo,Gobernador Ugarte,547,--,--,--,--,--,SI,--,--,--,6854040.0,-35.164397,-60.081358

📌 **Penetracion-hogares** - Primeras filas con nuevo encoding:

     ao  trimestre     provincia  accesos_por_cada_100_hogares trimestre_label
0  2024          2  BUENOS AIRES                            79              Q2
1  2024          2          CABA                           116              Q2
2  2024          2     CATAMARCA                            68              Q2
3  2024          2         CHACO                            44              Q2
4  2024          2        CHUBUT                            86              Q2

📌 **Penetracion-totales** - Primeras filas con nuevo encoding:

,ao,trimestre,accesos_por_cada_100_hogares,accesos_por_cada_100_hab,periodo,trimestre_label
0,2024,2,78,24,Abr-Jun 2024,Q2
1,2024,1,78,24,Ene-Mar 2024,Q1
2,2023,4,78,24,Oct-Dic 2023,Q4
3,2023,3,77,24,Jul-Sept 2023,Q3
4,2023,2,77,24,Abr-Jun 2023,Q2

📌 **Penetración-poblacion** - Primeras filas con nuevo encoding:

     ao  trimestre     provincia  accesos_por_cada_100_hab trimestre_label
0  2024          2  BUENOS AIRES                        27              Q2
1  2024          2          CABA                        47              Q2
2  2024          2     CATAMARCA                        17              Q2
3  2024          2         CHACO                        11              Q2
4  2024          2        CHUBUT                        26              Q2

📌 **Totales Accesos por rango** - Primeras filas con nuevo encoding:

,ao,trimestre,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,ms_de_30_mbps,otros,total,trimestre_label
0,2024,2,28151,67024,840200,911374,662649,348253,8357088,341368,11556107,Q2
1,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,11633156,Q1
2,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661,Q4
3,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908,Q3
4,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897,Q2

📌 **Totales Accesos Por Tecnología** - Primeras filas con nuevo encoding:

,ao,trimestre,adsl,cablemodem,fibra_ptica,wireless,otros,total,periodo,trimestre_label
0,2024,2,733491,5867504,4169958,593197,191957,11556107,Abr-Jun 2024,Q2
1,2024,1,774475,5986957,4015101,598682,257941,11633156,Ene-Mar 2024,Q1
2,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023,Q4
3,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023,Q3
4,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023,Q2

📌 **Totales Dial-BAf** - Primeras filas con nuevo encoding:

     ao  trimestre  banda_ancha_fija  dial_up     total        periodo
0  1970          2          11544314    11793  11556107   Abr-Jun 2024
1  1970          1          11621363    11793  11633156   Ene-Mar 2024
2  1970          4          11535868    11793  11547661   Oct-Dic 2023
3  1970          3          11395115    11793  11406908  Jul-Sept 2023
4  1970          2          11239781    12116  11251897   Abr-Jun 2023

📌 **Totales VMD** - Primeras filas con nuevo encoding:

     ao  trimestre  mbps_media_de_bajada        periodo
0  2024          2                   139   Abr-Jun 2024
1  2024          1                   139   Ene-Mar 2024
2  2023          4                   139   Oct-Dic 2023
3  2023          3                   129  Jul-Sept 2023
4  2023          2                   123   Abr-Jun 2023

📌 **Velocidad % por prov** - Primeras filas con nuevo encoding:

,ao,trimestre,provincia,mbps_media_de_bajada,incremento_velocidad,trimestre_label
0,1970,2,BUENOS AIRES,157,NaN,Q2
1,1970,2,CABA,233,NaN,Q2
2,1970,2,CATAMARCA,97,NaN,Q2
3,1970,2,CHACO,107,NaN,Q2
4,1970,2,CHUBUT,21,NaN,Q2

📌 **Velocidad_sin_Rangos** - Primeras filas con nuevo encoding:

     ao  trimestre     provincia  velocidad  accesos trimestre_label
0  1970          2  BUENOS AIRES       75.0     1062              Q2
1  1970          2  BUENOS AIRES       59.0       59              Q2
2  1970          2  BUENOS AIRES      480.0        5              Q2
3  1970          2  BUENOS AIRES        3.0    41735              Q2
4  1970          2  BUENOS AIRES       18.0     1042              Q2

In [ ]:
# Especificar el encoding adecuado
encoding = 'latin1'

# Diccionario para almacenar los DataFrames con el nuevo encoding
dataframes_reloaded = {}

# Cargar cada archivo de la lista con el nuevo encoding
for archivo in archivos:
    ruta_completa = os.path.join(ruta_base, archivo)

    try:
        # Cargar el archivo CSV con el nuevo encoding
        df = pd.read_csv(ruta_completa, encoding=encoding)

        # Normalizar los nombres de las columnas
        df.columns = (
            df.columns
            .str.strip()   # Eliminar espacios en los nombres de las columnas
            .str.lower()   # Convertir a minúsculas
            .str.replace(" ", "_")  # Reemplazar espacios por guiones bajos
            .str.replace(r"[^a-zA-Z0-9_]", "", regex=True)  # Eliminar caracteres especiales
        )

        # Guardar en el diccionario con un nombre limpio
        nombre_sin_extension = os.path.splitext(archivo)[0]
        dataframes_reloaded[nombre_sin_extension] = df

        print(f"✅ Archivo '{archivo}' cargado y normalizado exitosamente con encoding '{encoding}'.")

    except Exception as e:
        print(f"⚠️ Error al cargar '{archivo}' con encoding '{encoding}': {e}")

# Mostrar las primeras filas de cada DataFrame cargado con el nuevo encoding
for nombre, df in dataframes_reloaded.items():
    print(f"\n📌 **{nombre}** - Primeras filas con nuevo encoding:")
    display(df.head())

# Ahora puedes acceder a los DataFrames con:
# dataframes_reloaded["nombre_del_archivo_sin_extension"]